.performance-indicators {
    margin-bottom: 3em;
}

.performance-indicator {
    width: 450px;
    height: 480px;
}

.performance-indicators h2 {
    font-size: 40px;
    color: $colorSecondary;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

.performance-indicator h3 {
    text-align: center;
    font-size: 27px;
    margin-top: 3rem;
    color: $colorSecondary;
}

.performance-indicators__flex1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4em;
}
.performance-indicators__flex2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.performance-indicators p {
    width: 100%;
}

.box {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 50px auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #fff;
}

.box-inner {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 5;
    border-radius: 50%;
    background: $colorPrimary;
}

.box span {
    display: block;
    position: relative;
    top:50%;
    transform:translateY(-50%);
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: $colorSecondary;
    z-index: 10;
}

.box:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    clip: rect(0 300px 100px 0);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: $colorSecondary;
}

.box:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    clip: rect(0 100px 200px 0);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    background: $colorSecondary;
    
}

@media all and (max-width: 740px) {
    .performance-indicators__flex1 { 
        margin-bottom: 0;
    }

    .performance-indicators h2 {
        margin-bottom: 0.7em;
    }
}

@media all and (max-width: 550px) {
    .performance-indicator:nth-child(1) {
        margin-bottom: 4em;
    }

    .performance-indicator:nth-child(2) {
        margin-bottom: 3em;
    }

}

