@import 'config';

@import 'mission';

html,
body {
    height: 100%;
    /*font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;*/
    line-height: 2em;
}

body {
    display: flex;
    flex-direction: column;
}

@import 'nav';

.flex-grow {
    flex: 1 0 auto;
}

@import 'news';

@import 'performance-indicators';

@import 'footer';

@import 'blog';

@import 'team';